@tailwind base;
@tailwind components;
@tailwind utilities;

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply underline-offset-4 font-medium text-gray-600 hover:text-gray-800 transition-colors;
}
